*{
    box-sizing: border-box;
    margin: 0 auto;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: gray;
    justify-content: center;
    align-items: center;
    /* display:flex; flex-direction:column; justify-content:center;
    min-height:100vh; */
}